/Análise de Provedores de Hospedagem para Sistema de Gestão Financeira.md
/Arquitetura Tecnológica do Sistema de Gestão Financeira.md
/senha_mysql.txt
/Sistema de Gestão Financeira - Documentação Final.md
/todo.md
node_modules/